name: applovin_max
description: AppLovin MAX Flutter Plugin for Android and iOS
version: 1.0.0
homepage:

environment:
  sdk: ">=2.17.1 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.applovin.applovin_max
        pluginClass: ApplovinMaxPlugin
      ios:
        pluginClass: ApplovinMaxPlugin
